body{
  margin: 0px;
  padding: 0px;
  background-color: transparent;
}
#popup-container {
  width: 300px;
  padding: 10px 20px 20px 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
  color: #333;
}
#popup-container h1 {
  color: #333;
  margin-top: 10px;
  margin-bottom: 15px;
  text-align: center;
}
.settings-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.settings-item label {
  font-weight: 700;
  font-size: 14px;
  color: #555;
  margin-left: 10px;
  cursor: pointer;
}
input[type="checkbox"] {
  width: 12px;
  height: 12px;
  cursor: pointer;
}
#save-settings {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  border: none;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
}

#save-settings:hover {
  background-color: #45a049;
}
.status-message {
  width: 100%;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  color: green;
}